{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="{% static 'images/cover 1.png' %}" alt=""></div>
                            <p class="username">modern_web_channel</p>
                        </div>
                        <img src="{% static 'images/option.PNG' %}" class="options" alt="">
                    </div>users_user_user_permissions
                    <img src="{% static 'images/cover 1.png' %}" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="{% static 'images/like.PNG' %}" class="icon" alt="">
                            <img src="{% static 'images/comment.PNG' %}" class="icon" alt="">
                            <img src="{% static 'images/send.PNG' %}" class="icon" alt="">
                            <img src="{% static 'images/save.PNG' %}" class="save icon" alt="">
                        </div>
                        <p class="likes">1,012 likes</p>
                        <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit.
                            Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                        <p class="post-time">2 minutes ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="{% static 'images/smile.PNG' %}" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="{% static 'images/cover 2.png' %}" alt=""></div>
                            <p class="username">modern_web_channel</p>
                        </div>
                        <img src="{% static 'images/option.PNG' %}" class="options" alt="">
                    </div>
                    <img src="{% static 'images/cover 2.png' %}" class="post-image" alt="">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <img src="{% static 'images/like.PNG' %}" class="icon" alt="">
                            <img src="{% static 'images/comment.PNG' %}" class="icon" alt="">
                            <img src="{% static 'images/send.PNG' %}" class="icon" alt="">
                            <img src="{% static 'images/save.PNG' %}" class="save icon" alt="">
                        </div>
                        <p class="likes">1,012 likes</p>
                        <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit.
                            Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                        <p class="post-time">2 minutes ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="{% static 'images/smile.PNG' %}" class="icon" alt="">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>
                // +5 more post elements
            </div>
        </div>
    </section>


{%endblock content %}