{% extends 'main/base.html' %}
{% block content %}
{%load static%}

<section class="main">
    <div class="wrapper">
        <div class="left-col">
            <div class="status-wrapper">
                <div class="status-card">
                    <div class="profile-pic"><img src="{% static 'images/me.jpg' %}" alt=""></div>
                    <p class="username">jasper_rm_</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="{% static 'images/jakhongirs.jpeg' %}" alt=""></div>
                    <p class="username">jakhongirs</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="{% static 'images/nurmuhammad.jpeg' %}" alt=""></div>
                    <p class="username">nurmuhammad_mashrapov</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
