{% extends 'main/base.html' %}
{%load static%}
{%block content %}


{%block title%}
<title>Profile</title>
{%endblock title%}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock style %}


<header class="pt-5">
    <div class="container">

        <div class="profile">

                <div class="profile-image">
                    {% if profile.image %}
                        <img src="{{ profile.image.url }}" alt="" >
                    {% else %}
                        <img src="{% static 'default.jpg' %}" alt="">
                    {% endif %}
                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">{{ profile.user.username }}</h1>
                    {% if profile.user == request.user %}
                    <a href="{% url 'profiles:edit-profile' profile.user.username %}">
                        <button class="btn profile-edit-btn">Edit Profile</button>
                    </a>
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModal"  style="display:inline-block; border-radius: 5px; background-color: #5bc0de; color: #fff; font-size: 16px; text-decoration: none; padding: 2px 12px;">
                        <span class="glyphicon glyphicon-log-out"></span> Log out
                      </button>
                    {% elif is_followed %}
                    <form action="{% url 'profiles:unfollow' profile.user.username %}" method="POST">
                        {% csrf_token %}
                        <button class="btn profile-edit-btn">Following</button>
                    </form>
                    {% else %}
                    <form action="{% url 'profiles:follow' profile.user.username %}" method="POST">
                        {% csrf_token %}
                        <button class="btn profile-edit-btn" style="background-color: blue; color: white;">Follow
                        </button>
                    </form>
                    {% endif %}
                    {% if profile.user != request.user %}
                    <a href="{% url 'message:create-chat' user.id %}"><button  class="btn profile-edit-btn">Message</button></a>
                    {% endif %}

                    </button>

                        <!-- LogoutModal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" style="font-size: 24px; font-weight: bold; color: #000; margin-top: 0; margin-bottom: 1rem;">Tizimdan chiqishni xohlaysizmi?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 0; right: 0; padding: 1rem; color: #000; border: none; background: none; font-size: 2rem;">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" style="display:inline-block; border-radius: 5px; background-color: #6c757d; color: #fff; font-size: 18px; text-decoration: none; padding: 10px 20px;"  data-dismiss="modal">Yo`q</button>
                                <a href="{% url 'profiles:logout' %}"><button  type="button" class="btn btn-primary" style="display:inline-block; border-radius: 5px; background-color: #007bff; color: #fff; font-size: 18px; text-decoration: none; padding: 10px 20px;">Ha</button></a>
                                </div>
                            </div>
                            </div>
                        </div>
                     <!-- EndLogout Modal -->
                </div>

                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count">{{ posts.count }}</span> posts</li>
                        <li data-bs-toggle="modal" data-bs-target="#Followers"><span
                                class="profile-stat-count">{{ followers.count }}</span> followers
                        </li>
                        <li data-bs-toggle="modal" data-bs-target="#Followings"><span class="profile-stat-count">{{ followings.count }}</span> following</li>
                    </ul>

                </div>

                <div class="profile-bio">
                    <p>{{ profile.user.get_full_name }}</p>
                    <p>
                        {% if profile.bio %}
                            {{ profile.bio }}
                        {% endif %}
                    </p>
                </div>

            </div>
            <!-- End of profile section -->

    </div>
    <!-- End of container -->
</header>

<main>

    <!--    post part -->
    <div class="container">

        <div class="gallery">
            <div class="row">
                {%if posts%}
                    {% for post in posts %}
                    <div class="col-4">
                        <a href="{% url 'posts:post-detail' post.id %}">
                            <div class="gallery-item" tabindex="0">
                                {% if post.post_medias.first.media_type == 'IMG' %}
                                <img src="{{post.post_medias.first.file.url}}"
                                     class="gallery-image" alt="">
                                {% else %}
                                <video controls>
                                    <source src="{{ post.post_medias.first.file.url }}" type="video/mp4"
                                            href="{% url 'posts:post-detail' post.id %}">
                                </video>
                                {% endif %}
                                <div class="gallery-item-info">
                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{ post.likes_count }}</li>
                                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> {{ post.comments_count }}</li>
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                        {% endfor %}
                {%else%}
                <div class="gallery-item">
                    <img src="{% static 'images/no-photo.jpg' %}" style="
            pointer-events: none;
            cursor:none!important;
            width: 86%;
            height: 50%;
            user-select: none;
            border: none !important;
            display: block;
          " class="gallery-image" alt=""/>
                </div>

                {%endif%}
            </div>
        </div>


    </div>
    <!-- End of container -->

</main>

<div class="modal fade" id="Followers" tabindex="-1" aria-labelledby="FollowersLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="FollowersLabel">Followers</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="side-menu__suggestions-section">
                    <div class="side-menu__suggestions-content">
                        {% for follower in followers %}
                            <div class="side-menu__suggestion">
                                <a href="{% url 'profiles:profile_detail' follower.user.username %}" class="side-menu__suggestion-avatar">
                                    {% if follower.image %}
                                        <img src="{{ follower.image.url }}" alt="User Picture">
                                    {% else %}
                                        <img src="{% static 'images/empty-user.png' %}" alt="User Picture">
                                    {% endif %}
                                </a>
                                <div class="side-menu__suggestion-info">
                                    <a href="{% url 'profiles:profile_detail' follower.user.username %}">
                                        {{ follower.user.get_full_name }}</a>
                                    <a href="{% url 'profiles:profile_detail' follower.user.username %}">
                                        <span>@{{ follower.user.username }}</span>
                                    </a>
                                </div>
                                {% if request.user == profile.user %}
                                    <form action="{% url 'profiles:remove_follower' follower.user.username %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn profile-edit-btn">Remove</button>
                                    </form>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Followings" tabindex="-1" aria-labelledby="FollowingsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="FollowingLabel">Followings</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="side-menu__suggestions-section">
                    <div class="side-menu__suggestions-content">
                        {% for following in followings %}
                            <div class="side-menu__suggestion">
                                <a href="{% url 'profiles:profile_detail' following.user.username %}" class="side-menu__suggestion-avatar">
                                    {% if following.image %}
                                        <img src="{{ following.image.url }}" alt="User Picture">
                                    {% else %}
                                        <img src="{% static 'images/empty-user.png' %}" alt="User Picture">
                                    {% endif %}
                                </a>
                                <div class="side-menu__suggestion-info">
                                    <a href="{% url 'profiles:profile_detail' following.user.username %}">
                                        {{ following.user.get_full_name }}</a>
                                    <a href="{% url 'profiles:profile_detail' following.user.username %}"><span>@{{ following.user.username }}</span></a>
                                </div>
                                {% if request.user == profile.user %}
                                    <form action="{% url 'profiles:remove_follower' following.user.username %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn profile-edit-btn">Remove</button>
                                    </form>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




{%endblock content%}




