body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    background: #1a1a1a;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    position: absolute;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
}
.card {
    position: relative;
    height: 900px;
    width: 460px;
    padding: 20px;
    border-radius: 10px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #ffffff;
    cursor: pointer;
}
.progress_bar_wrap {
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #848380;
}
.progress_bar {
    width: 0;
    height: 5px;
    border-radius: 10px;
    background: #fff;
}
.card_controls {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    font-size: 14px;
}
.profile_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.yours {
    color: #fff;
}
.time {
    color: #dbdbdb;
}
.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}
.song_wrapper {
    position: absolute;
    bottom: 20%;
    left: 50%;
    user-select: none;
    transform: translateX(-50%);
}
.lyrics {
    color: #fff;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 250px;
    word-break: break-word;
    display: none;
}
.cover {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: #fff;
    width: 170px;
    border: radius 5px;
}
.cover img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}
.col {
    display: flex;
    flex-direction: column;
}
.song_name {
    font-weight: 600;
    font-size: 14px;
}
.song_artist {
    font-size: 13px;
}